.searchResult {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0.5rem 0.9rem 0.5rem;
  z-index: 0;
}

.searchResultButton {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.searchResultButton__addChart {
  background-color: #ffff;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.1rem;
  position: relative;
  width: 2.1rem;
  z-index: 0;
}

.searchResultButton__addChart:before,
.searchResultButton__addChart:after {
  background: #0a8e26;
  content: " ";
  height: 1.8rem;
  left: 0.9rem;
  position: absolute;
  top: 0.2rem;
  transition: all 0.5s ease-in-out;
  width: 0.2rem;
  z-index: 10;
}

.searchResultButton__addChart:before {
  transform: rotate(90deg);
}
.searchResultButton__addChart:after {
  transform: rotate(-180deg);
}

.searchResultButton__addChart:active {
  transform: scale(0.92);
}

.bottomBorder {
  border-bottom: 0.1rem solid #eee;
  grid-column-start: span 4;
  width: 100%;
}

/* Media queries */

@media (min-width: 540px) {
  .searchResult {
    font-size: 1.3rem;
  }
}
