.modal-search-field {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0 0.5rem 0 0.5rem;
  top: 43px;
  background-color: #ffff;
  z-index: 10;
}

.modal-search-field input {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  z-index: 10;
}

.searchResultsGrid {
  height: auto;
  display: grid;
  align-items: center;
  grid-template-columns: min-content min-content auto min-content;
  z-index: 10;
}

.searchResultsHeader {
  position: sticky;
  top: 92px;
  z-index: 0;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #eee;
  background-color: #ffff;
  color: #0a8e27de;
  z-index: 10;
}

.searchResultsHeader:nth-child(3) {
  grid-column-start: span 2;
}
