.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 50rem;
  height: 50rem;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  background-color: #fff;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  position: relative;
  border: 0.15rem solid #0a8e26;
}

.modal.show .modal-content {
  transform: translateY(0);
}

.modal-header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem;
  top: 0px;
  background-color: white;
  z-index: 10;
}

.modal-title {
  margin: 0;
  font-size: 20px;
  color: #131722;
  z-index: 10;
}

.closeModal {
  color: #eeee;
  border: none;
  background-color: #fff;
  top: 11px;
  left: 760px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  z-index: 10;
}

.closeModal::before {
  content: " ";
  position: relative;
  display: block;
  background-color: #bbbb;
  width: 2px;
  height: 25px;
  left: 1px;
  top: 1px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}
.closeModal::after {
  content: " ";
  position: relative;
  display: block;
  background-color: #bbbb;
  width: 25px;
  height: 2px;
  top: -12px;
  left: -10px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  z-index: 10;
}

.closeModal:hover:before,
.closeModal:hover:after {
  background-color: #0a8e26;
}
