.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 100vw;
  z-index: 100;
}

.modal_show {
  opacity: 1;
  pointer-events: visible;
  transform: translateY(0);
}

.modalContent {
  background-color: #fff;
  border: 0.15rem solid #0a8e26;
  height: 70rem;
  max-height: calc(100vh - 2rem);
  max-width: calc(100vw - 2rem);
  overflow-y: auto;
  position: relative;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  width: 50rem;
}

.modalContent_show {
  transform: translateY(0);
}

.modalHeader {
  align-content: center;
  background-color: white;
  display: flex;
  height: 4.2rem;
  justify-content: space-between;
  margin: 0.1rem 0.2rem;
  padding: 0.7rem 0.6rem 0.7rem 0.6rem;
  position: sticky;
  top: 0rem;
  z-index: 10;
}

.modalTitle {
  color: #131722;
  font-size: 2rem;
  margin: 0;
  z-index: 10;
}

.closeModalButton {
  background-color: #fff;
  border: none;
  color: #eeee;
  cursor: pointer;
  left: -0.5rem;
  height: 2rem;
  position: relative;
  top: 0.2rem;
  width: 2rem;
  z-index: 10;
}

.closeModalButton:before,
.closeModalButton:after {
  background-color: #333;
  content: " ";
  display: block;
  height: 2.5rem;
  left: 0.9rem;
  position: absolute;
  top: -0.2rem;
  transition: all 0.5s ease-in-out;
  width: 0.2rem;
  z-index: 10;
}

.closeModalButton:before {
  transform: rotate(45deg);
}
.closeModalButton:after {
  transform: rotate(-45deg);
}

.closeModalButton:hover:before,
.closeModalButton:hover:after {
  background-color: #0a8e26;
}

/* Media queries */

@media (min-width: 1000px) {
  .modalContent {
    height: 80rem;
    width: 70rem;
  }
}

@media (min-width: 1600px) {
  .modalContent {
    height: 90rem;
    width: 80rem;
  }
}

@media (min-width: 1800px) {
  .modalContent {
    height: 100rem;
    width: 90rem;
  }
}
