#dashboard-grid {
  height: 90vh;
  width: 99vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  padding-top: 1rem;
  padding-left: 1.4rem;
}
