.searchField {
  align-items: center;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin: 0 0.5rem 0 0.1rem;
  padding: 0.5rem 0 0.5rem 0;
  position: sticky;
  top: 46px;
  width: 100%;
  z-index: 10;
}

.searchField__input {
  margin-bottom: 0.5rem;
  padding: 0.2rem 0.2rem 0.3rem 0.2rem;
  width: 100%;
  z-index: 10;
}
