.chart {
  align-items: center;
  background: inherit;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  height: 500px;
  justify-content: center;
  width: 730px;
}

.closeButton {
  background-color: #fff;
  border: 1px solid #0a8e26;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  height: 22px;
  left: 705px;
  position: relative;
  top: -248px;
  width: 22px;
  z-index: 10;
}

.closeButton::before {
  background-color: #222;
  bottom: 4px;
  content: " ";
  position: absolute;
  display: block;
  left: 9px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
  top: 4px;
  width: 2px;
}

.closeButton::after {
  background-color: #222;
  content: " ";
  display: block;
  height: 2px;
  left: 4px;
  position: absolute;
  right: 4px;
  top: 9px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.closeButton:hover:before,
.closeButton:hover:after {
  background-color: #0a8e26;
}
