.dashboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  height: 500px;
  width: 730px;
}

/* Make dashboard-item div align properly behind Highchart chart. Add background and border to
  dashboard-item to see how it looks. */

.close {
  color: #fff;
  border: 1px solid #0a8e26;
  position: relative;
  background-color: #fff;
  top: -248px;
  left: 705px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
}

.close::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: #222;
  width: 2px;
  left: 9px;
  top: 4px;
  bottom: 4px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.close::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: #222;
  height: 2px;
  top: 9px;
  left: 4px;
  right: 4px;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.close:hover:before,
.close:hover:after {
  background-color: #0a8e26;
}
