.chart {
  align-items: flex-start;
  background: inherit;
  display: flex;
  font-weight: bold;
  height: 39.8rem;
  justify-content: center;
  width: 36rem;
}

.chart select {
  font-size: 2rem;
}

.closeButton {
  background-color: #fff;
  border: 0.1rem solid #0a8e26;
  border-radius: 10%;
  cursor: pointer;
  color: #fff;
  height: 2.1rem;
  left: 34.6rem;
  padding: 0.1rem;
  position: relative;
  top: -0.8rem;
  width: 2.1rem;
  z-index: 10;
}

.closeButton:before,
.closeButton:after {
  background-color: #333;
  content: " ";
  height: 1.5rem;
  left: 0.8rem;
  position: absolute;
  top: 0.2rem;
  transition: all 0.5s ease-in-out;
  width: 0.2rem;
}

.closeButton:before {
  transform: rotate(45deg);
}
.closeButton:after {
  transform: rotate(-45deg);
}

.closeButton:hover:before,
.closeButton:hover:after {
  background-color: #0a8e26;
}

/* Media queries */

@media (min-width: 1300px) {
  .chart {
    width: 41rem;
  }
  .closeButton {
    left: 39.5rem;
  }
}

@media (min-width: 1500px) {
  .chart {
    height: 40rem;
    width: 51rem;
  }
  .closeButton {
    left: 49.5rem;
  }
}
